<div class = "top-bar">                 
  <img class = "store-main-title" src="images/MWColored300dpi.png"></img>
   <h1 class="header-text">World's Best Music Instruments</h1>
      <div class="top-bar-right" id = "top-bar-right">
          <ul class = "menu" id = "top-navbar"> 
              <li><a class="menuBar" href = "homepage">Homepage</a></li>
              <li><a class="menuBar" href = "dashboard">Dashboard</a></li>
              <li><a class="menuBar" href = "login">Login</a></li>
              <li><a class="menuBar" href = "signup">Signup</a></li>              
              <li><a class="menuBar" href = "logout">Logout</a></li>
          </ul>     
      </div>
</div>