<button class = "button expanded large" id = "category-header">Piano Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4 " id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-large.JPG" alt="Image" height="300" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100101</h5>
                            <h4 id = "item-name">Piano Large</h3>
                            <h5>Price: $1514.99</h5>
                            <h5>In Stock: 10</h5>
                        </div>
                    </div>                         
                </div>                
            </div>
            <a href="products">
               <button id="piano-1-button" class="btn">More Information</button>
            </a> 
       </div>       
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-electric-autotune.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100111</h5>
                            <h4 id = "item-name">Piano Electric</h4>
                            <h5>Price: $3854.99</h5>
                            <h5>In Stock: 06</h5>
                        </div>
                    </div>                    
                    <a href="product">
                    <button id="piano-2-button" class="btn">More Information</button>
                    </a> 
                </div>                  
            </div>
        </div>
        <div id= "information-btn"> 
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/Piano-beginner.JPG" alt="Image" height="300" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100121</h5>
                            <h4 id = "item-name">Piano Beginner</h4>
                            <h5>Price: $877.99</h5>
                            <h5>In Stock: 02</h5>
                        </div>
                    </div>
                    <a href="product">
                    <button id="piano-3-button" class="btn">More Information</button>
                    </a>
                </div>                  
            </div>
        </div>        
    </div>        
</div>              
      
<button class = "button expanded large" id = "category-header">Guitar Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/Guitar/guitar-blue.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 200101</h5>
                            <h4 id = "item-name">Guitar Blue</h4>
                            <h5>Price: $851.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                              
                </div>
            </div>
            <a href="products">
            <button id="guitar-1-button" class="btn">More Information</button>
            </a>   
        </div>
        <div id= "information-btn">   
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/Guitar/guitar-electric-italian.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 200111</h5>
                            <h4 id = "item-name">Guitar Electric Italian</h4>
                            <h5>Price: $1299.99</h5>
                            <h5>In Stock: 02</h5>
                        </div>
                    </div>  
                </div>                  
            </div>
            <a href="products">
            <button id="guitar-2-button" class="btn">More Information</button>
            </a> 
        </div> 
        <div id= "information-btn">    
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/Guitar/guitar-regular.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 200121</h5>
                            <h4 id = "item-name">Guitar Regular</h4>
                            <h5>Price: $354.99</h5>
                            <h5>In Stock: 07</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="guitar-3-button" class="btn">More Information</button>
            </a>
        </div>
    </div>        
</div>       
      
<button class = "button expanded large" id = "category-header">Live Sound Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/yahama-40-channels.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300101</h5>
                            <h4 id = "item-name">Yamaha 4 Channel</h4>
                            <h5>Price: $1699.99</h5>
                            <h5>In Stock: 03</h5>
                        </div>
                    </div>                             
                </div>
            </div>
            <a href="products">
            <button id="sound-1-button" class="btn">More Information</button>
            </a>    
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/jbl-mixer-with-speakers.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300111</h5>
                            <h4 id = "item-name">JBL Mixer-Speakers</h4>
                            <h5>Price: $1267.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                   
                </div>                  
            </div>
            <a href="products">
            <button id="sound-2-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/yamaha-mg16xu.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300121</h5>
                            <h4 id = "item-name">Yamaha MG16XU</h4>
                            <h5>Price: $549.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="sound-3-button" class="btn">More Information</button>
            </a>
        </div>
    </div>        
</div>       
         
<button class = "button expanded large" id = "category-header">Drum and Percussion Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/full-drum-set.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400101</h5>
                            <h4 id = "item-name">Full Drum Set</h3>
                            <h5>Price: $3029.99</h5>
                            <h5>In Stock: 01</h5>
                        </div>
                    </div>                               
                </div>
            </div>
            <a href="products">
            <button id="drum-1-button" class="btn">More Information</button>
            </a>  
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/percussion-6set.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400111</h5>
                            <h4 id = "item-name">Percussion 6 Set</h4>
                            <h5>Price: $599.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="drum-2-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/tubano.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400121</h5>
                            <h4 id = "item-name">Tubano</h4>
                            <h5>Price: $229.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>
                    
                </div>                  
            </div>
            <a href="products">
            <button id="drum-3-button" class="btn">More Information</button>
            </a>
        </div>
    </div>        
</div>       
        
<button class = "button expanded large" id = "category-header">Keyboard Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/casio-keyboard-automatic.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500101</h5>
                            <h4 id = "item-name">Casio Keyboard</h4>
                            <h5>Price: $673.99</h5>
                            <h5>In Stock: 06</h5>
                        </div>
                    </div>                                 
                </div>
            </div>
            <a href="products">
            <button id="keyboard-1-button" class="btn">More Information</button>
            </a>
        </div>
        <div id= "information-btn">    
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/electric-keyboard-general.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500111</h5>
                            <h4 id = "item-name">Electric Keyboard</h4>
                            <h5>Price: $205.29</h5>
                            <h5>In Stock: 05</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="keyboard-2-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">    
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/yamaha-psp-autotune.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500121</h5>
                            <h4 id = "item-name">Yahamaha Autotune</h4>
                            <h5>Price: $539.99</h5>
                            <h5>In Stock: 03</h5>
                        </div>
                    </div>                   
                </div>                  
            </div>
            <a href="products">
            <button id="keyboard-2-button" class="btn">More Information</button>
            </a>
        </div>    
    </div>        
</div>       
                  
<button class = "button expanded large" id = "category-header">Lesson Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/music-lesson/music-lesson-guitar.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 600101</h5>
                            <h4 id = "item-name">Guitar Lesson</h4>
                            <h5>Price: $899.99</h5>
                            <h5>In Stock: 02</h5>
                        </div>
                    </div>                               
                </div>
            </div>
            <a href="products">
            <button id="lesson-1-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/music-lesson/music-lesson-trumpet.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 600111</h5>
                            <h4 id = "item-name">Trumpet Lesson</h4>
                            <h5>Price: $799.99</h5>
                            <h5>In Stock: 03</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="lesson-2-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/music-lesson/music-lesson-piano.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 600121</h5>
                            <h4 id = "item-name">Piano Lesson</h4>
                            <h5>Price: $999.99</h5>
                            <h5>In Stock: 06</h5>
                        </div>
                    </div>
                    
                </div>                  
            </div>
            <a href="products">
            <button id="lesson-3-button" class="btn">More Information</button>
            </a>
        </div>
    </div>        
</div>       
      
 