<div class="grid-container fluid" id = "piano-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-large.jpg" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10101</h4>
                        <h3 id = "item-name">Large Piano</h3>
                        <h4>Price: $1514.99</h4>
                        <h4>In Stock: 10</h4>

                    </div>
                </div> 
                
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
                         
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-electric-autotune.JPG" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100111</h4>
                        <h3 id = "item-name">Piano Electric Autotune</h3>
                        <h4>Price: $3854.99</h4>
                        <h4>In Stock: 06</h4>

                    </div>
                </div>
                
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-beginner.JPG" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100121</h4>
                        <h3 id = "item-name">Piano Beginner</h3>
                        <h4>Price: $877.99</h4>
                        <h4>In Stock: 02</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/guitar/guitar-blue.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10201</h4>
                        <h3 id = "item-name">Guitar Blue</h3>
                        <h4>Price: $851.99</h4>
                        <h4>In Stock: 04</h4>
                    </div>
                </div> 
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>            
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/guitar/guitar-electric-italian.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100211</h4>
                        <h3 id = "item-name">Guitar Electric Italian</h3>
                        <h4>Price: $1299.99</h4>
                        <h4>In Stock: 02</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/guitar/guitar-regular.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100221</h4>
                        <h3 id = "item-name">Guitar Regular</h3>
                        <h4>Price: $354.99</h4>
                        <h4>In Stock: 07</h4>
                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/keyboard/casio-keyboard-automatic.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10401</h4>
                        <h3 id = "item-name">Casio Keyboard Automatic</h3>
                        <h4>Price: $673.99</h4>
                        <h4>In Stock: 06</h4>
                    </div>
                </div> 
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>            
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/keyboard/electric-keyboard-general.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100411</h4>
                        <h3 id = "item-name">Electric Keyboard General</h3>
                        <h4>Price: $205.29</h4>
                        <h4>In Stock: 05</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/keyboard/yamaha-psp-autotune.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100421</h4>
                        <h3 id = "item-name">Yahamaha PSP Autotune</h3>
                        <h4>Price: $539.99</h4>
                        <h4>In Stock: 03</h4>
                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
 
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/drum-percussion/full-drum-set.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10401</h4>
                        <h3 id = "item-name">Full Drum Set</h3>
                        <h4>Price: $3029.99</h4>
                        <h4>In Stock: 01</h4>
                    </div>
                </div> 
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>            
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/drum-percussion/percussion-6set.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100411</h4>
                        <h3 id = "item-name">Percussion 6 Set</h3>
                        <h4>Price: $599.99</h4>
                        <h4>In Stock: 04</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/drum-percussion/tubano.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100421</h4>
                        <h3 id = "item-name">Tubano</h3>
                        <h4>Price: $229.99</h4>
                        <h4>In Stock: 04</h4>
                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/live-sound/yahama-40-channels.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10301</h4>
                        <h3 id = "item-name">Yamaha 4 Channels console</h3>
                        <h4>Price: $1699.99</h4>
                        <h4>In Stock: 03</h4>

                    </div>
                </div> 
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>            
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/live-sound/jbl-mixer-with-speakers.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100311</h4>
                        <h3 id = "item-name">JBL Mixer with Speakers</h3>
                        <h4>Price: $1267.99</h4>
                        <h4>In Stock: 04</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/live-sound/yamaha-mg16xu.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100321</h4>
                        <h3 id = "item-name">Yamaha MG16XU 16-Channel Mixer</h3>
                        <h4>Price: $549.99</h4>
                        <h4>In Stock: 04</h4>
                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       


<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/music-lesson/music-lesson-guitar.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10401</h4>
                        <h3 id = "item-name">Music Lesson Guitar</h3>
                        <h4>Price: $899.99</h4>
                        <h4>In Stock: 02</h4>
                    </div>
                </div> 
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>            
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/music-lesson/music-lesson-trumpet.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100411</h4>
                        <h3 id = "item-name">Music Lesson Trumpet</h3>
                        <h4>Price: $799.99</h4>
                        <h4>In Stock: 03</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/music-lesson/music-lesson-piano.JPG" alt="Image" height="300" width="300">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100421</h4>
                        <h3 id = "item-name">Music Lesson Piano</h3>
                        <h4>Price: $999.99</h4>
                        <h4>In Stock: 06</h4>
                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
 