<button class = "button expanded large" id = "category-header">Drum and Percussion Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/full-drum-set.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400101</h5>
                            <h4 id = "item-name">Full Drum Set</h3>
                            <h5>Price: $3029.99</h5>
                            <h5>In Stock: 01</h5>
                        </div>
                    </div>                               
                </div>
            </div>
            <a href="https://buy.stripe.com/test_5kAcN63N8aOs8dGcMV">
            <button id="drum-1-button" class="btn">Buy Now</button>
            </a>  
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/percussion-6set.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400111</h5>
                            <h4 id = "item-name">Percussion 6 Set</h4>
                            <h5>Price: $599.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="https://buy.stripe.com/test_dR66oI5Vg8GkctW8wG">
            <button id="drum-2-button" class="btn">Buy Now</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/drum-percussion/tubano.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 400121</h5>
                            <h4 id = "item-name">Tubano</h4>
                            <h5>Price: $229.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>
                    
                </div>                  
            </div>
            <a href="https://buy.stripe.com/test_3cs5kE5Vg09O51u00b">
            <button id="drum-3-button" class="btn">Buy Now</button>
            </a>
        </div>
    </div>        
</div>       
      
      
 