<button class = "button expanded large" id = "category-header">Keyboard Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/casio-keyboard-automatic.JPG" alt="Image" height="300" width="300">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500101</h5>
                            <h4 id = "item-name">Casio Keyboard</h4>
                            <h5>Price: $673.99</h5>
                            <h5>In Stock: 06</h5>
                        </div>
                    </div>                                 
                </div>
            </div>
            <a href="products">
            <button id="keyboard-1-button" class="btn">More Information</button>
            </a>
        </div>
        <div id= "information-btn">    
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/electric-keyboard-general.JPG" alt="Image" height="300" width="300">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500111</h5>
                            <h4 id = "item-name">Electric Keyboard</h4>
                            <h5>Price: $205.29</h5>
                            <h5>In Stock: 05</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="products">
            <button id="keyboard-2-button" class="btn">More Information</button>
            </a> 
        </div>
        <div id= "information-btn">    
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/keyboard/yamaha-psp-autotune.JPG" alt="Image" height="300" width="300">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 500121</h5>
                            <h4 id = "item-name">Yahamaha Autotune</h4>
                            <h5>Price: $539.99</h5>
                            <h5>In Stock: 03</h5>
                        </div>
                    </div>                   
                </div>                  
            </div>
            <a href="products">
            <button id="keyboard-2-button" class="btn">More Information</button>
            </a>
        </div>    
    </div>        
</div>       
      
      
 
 