<main>
<div class="grid-container fluid">
    <div class="grid-x grid-margin-x">
     
      <div class="cell large-3">

        <img src="/images/piano-category.JPG" alt="Image" height="200" width="100%">        
        <button class = "button medium" id = "piano-button">Piano Category</button>

        <img src="/images/guitar-amp-category.JPG" alt="Image" height="200" width="100%">        
        <button class = "button medium" id = "guitar-button">Guitar Category</button>

        <img src="/images/live-sound-category.JPG" alt="Image" height="200" width="100%">        
        <button class = "button medium" id = "live-sound-button">Live Sound</button>
      </div>
      
      <div class="cell large-3 large-offset-6"  id = "right-column">

        <img src="/images/drum-percussion-category.JPG" alt="Image" height="200" width="100%">      
        <button class = "button medium" id = "drum-percussion-button">Drum and Percussion Category</button>

        <img src="/images/keyboard-category.JPG" id = "keyboard-picture" alt="Image" height="200" width="100%">      
        <button class = "button medium" id = "keyboard-button">Keyboard Category</button>

        <img src="/images/music-lesson-category.JPG" id = "music-lesson-picture" alt="Image" height="200" width="100%">      
        <button class = "button medium" id = "music-lesson-button">Music Lesson Category</button>
      </div>
    </div>
  </div>
  </main>