<button class = "button expanded large" id = "category-header">Piano Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4 " id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-large.jpg" alt="Image" height="300" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100101</h5>
                            <h4 id = "item-name">Piano Large</h3>
                            <h5>Price: $1514.99</h5>
                            <h5>In Stock: 10</h5>
                        </div>
                    </div>                         
                </div>                
            </div>
            <a href="products">
               <button id="piano-1-button" class="btn">More Information</button>
            </a> 
       </div>       
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-electric-autotune.JPG" alt="Image" height="250" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100111</h5>
                            <h4 id = "item-name">Piano Electric</h4>
                            <h5>Price: $3854.99</h5>
                            <h5>In Stock: 06</h5>
                        </div>
                    </div>                    
                    <a href="product">
                    <button id="piano-2-button" class="btn">More Information</button>
                    </a> 
                </div>                  
            </div>
        </div>
        <div id= "information-btn"> 
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-beginner.JPG" alt="Image" height="300" width="250">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 100121</h5>
                            <h4 id = "item-name">Piano Beginner</h4>
                            <h5>Price: $877.99</h5>
                            <h5>In Stock: 02</h5>
                        </div>
                    </div>
                    <a href="product">
                    <button id="piano-3-button" class="btn">More Information</button>
                    </a>
                </div>                  
            </div>
        </div>        
    </div>        
</div>       
      
      
 