<div class="grid-container fluid" id = "piano-display">
   <div class="grid-x grid-margin-x">
        <div class="cell large-4" id = "piano-1">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-large.jpg" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 10101</h4>
                        <h3 id = "item-name">Large Piano</h3>
                        <h4>Price: $1514.99</h4>
                        <h4>In Stock: 10</h4>

                    </div>
                </div> 
                
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
                         
            </div>
        </div>
        <div class="cell large-4" id = "piano-2">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-electric-autotune.JPG" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100111</h4>
                        <h3 id = "item-name">Piano Electric Autotune</h3>
                        <h4>Price: $3854.99</h4>
                        <h4>In Stock: 06</h4>

                    </div>
                </div>
                
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a> 
             </div>                  
        </div>
        <div class="cell large-4" id = "piano-3">   
            <div class="row">
                <div class="media-object">
                    <div class="media-object-section">
                        <div class="thumbnail">
                            <img src="/images/piano/piano-beginner.JPG" alt="Image" height="400" width="350">
                        </div>
                    </div>                   
                    <div class="media-object-section" id = "piano-information">
                        <h4>Item Id: 100121</h4>
                        <h3 id = "item-name">Piano Beginner</h3>
                        <h4>Price: $877.99</h4>
                        <h4>In Stock: 02</h4>

                    </div>
                </div>
                <a href="product">
                <button id="piano-1-button" class="btn">More Information</button>
                </a>
             </div>                  
        </div>
    </div>        
</div>       
      
      
 