<button class = "button expanded large" id = "category-header">Piano Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
       <div id= "information-btn">
            <div class="cell large-4 " id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/public/images/piano/piano-large.JPG" alt="Image" height="400" width="350">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h4>SKU: 100101</h4>
                            <h3 id = "item-name">Piano Large</h3>
                            <h4>Price: $1514.99</h4>
                            <h4>In Stock: 10</h4>
                        </div>
                    </div>                         
                </div>                
            </div>
             <div class='product-description'> 
             <a href="https://buy.stripe.com/test_aEU8wQerM9Ko9hKbII">
               <button id="piano-1-button" class="btn">Product Information</button>
            </a> 
             <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
            </div>
                    <a href="https://buy.stripe.com/test_aEU8wQerM9Ko9hKbII">
                    
                <button id="piano-2-button" class="btn">Buy Now</button>
            </a>
       </div>       
       <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-electric-autotune.JPG" alt="Image" height="400" width="350">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h4>SKU: 100111</h4>
                            <h3 id = "item-name">Piano Electric Autotune</h3>
                            <h4>Price: $3854.99</h4>
                            <h4>In Stock: 06</h4>
                        </div>
                    </div>                    
                    <a href="https://buy.stripe.com/test_14k28sgzUbSw9hKaEF"></a>
                    <button id="piano-2-button" class="btn">Product Information</button>
                    </a> 
                    <div class='product-description'> 
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    </div>
                    <a href="https://buy.stripe.com/test_14k28sgzUbSw9hKaEF">
                    <button id="piano-2-button" class="btn">Buy Now</button>
                    </a> 
                </div>                  
            </div>
        </div>
        <div id= "information-btn"> 
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/piano/piano-beginner.JPG" alt="Image" height="400" width="350">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h4>SKU: 100121</h4>
                            <h3 id = "item-name">Piano Beginner</h3>
                            <h4>Price: $877.99</h4>
                            <h4>In Stock: 02</h4>
                        </div>
                    </div>
                     <div class='product-description'> 
                         <button id="piano-3-button" class="btn">Produt Description</button>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                    </div>
                    <a href="https://buy.stripe.com/test_14k9AU2J4bSwgKcfZ0">
                    
                    <button id="piano-2-button" class="btn">Buy Now</button>
                    </a>
                </div>                  
            </div>
        </div>        
    </div>        
</div>       
      
      
 