<div class="column">
<h2 class="title pb-4">Create New Account:</h2><hr>
<form class="signup-form">
  <div>
    <label for="firstname-signup">First Name:</label>
    <input type="text" id="firstname-signup" />
  </div>
  <div>
    <label for="lastname-signup">Last Name:</label>
    <input type="text" id="lastname-signup" />
  </div>
<div>
    <label for="twitter-signup">twitter:</label>
    <input type="text" id="twitter-signup" />
  </div>
    <div>
    <label for="github-signup">github:</label>
    <input type="text" id="github-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>