<button class = "button expanded large" id = "category-header">Live Sound Category</button>
<div class="grid-container fluid" id = "category-display">
   <div class="grid-x grid-margin-x">
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-1">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/yahama-40-channels.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300101</h5>
                            <h4 id = "item-name">Yamaha 4 Channel</h4>
                            <h5>Price: $1699.99</h5>
                            <h5>In Stock: 03</h5>
                        </div>
                    </div>                             
                </div>
            </div>
            <a href="https://buy.stripe.com/test_eVaeVebfA3m0alOaET">
            <button id="sound-1-button" class="btn">Buy Now</button>
            </a>    
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-2">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/jbl-mixer-with-speakers.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300111</h5>
                            <h4 id = "item-name">JBL Mixer-Speakers</h4>
                            <h5>Price: $1267.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                   
                </div>                  
            </div>
            <a href="https://buy.stripe.com/test_bIYbJ2abw8GkbpSeVa">
            <button id="sound-2-button" class="btn">Buy Now</button>
            </a> 
        </div>
        <div id= "information-btn">
            <div class="cell large-4" id = "piano-3">   
                <div class="row">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img src="/images/live-sound/yamaha-mg16xu.JPG" alt="Image" height="200" width="200">
                            </div>
                        </div>                   
                        <div class="media-object-section" id = "piano-information">
                            <h5>SKU: 300121</h5>
                            <h4 id = "item-name">Yamaha MG16XU</h4>
                            <h5>Price: $549.99</h5>
                            <h5>In Stock: 04</h5>
                        </div>
                    </div>                    
                </div>                  
            </div>
            <a href="https://buy.stripe.com/test_bIYbJ2abw8GkbpSeVa">
            <button id="sound-3-button" class="btn">Buy Now</button>
            </a>
        </div>
    </div>        
</div>       
      