body{
    background: rgb(255, 255, 255);
    }
    .main-container{
       display: flex;
    }
    .right-column-container{
        margin-right: 0px;
    }
    #piano-button, #guitar-button, #live-sound-button, #drum-percussion-button, #keyboard-button, #music-lesson-button{
    display: inline-block;
    width: 100%;
    background: rgb(13 85 167);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    }
    #music-lesson-picture, #keyboard-picture{
        height: 260px;
    }
    .store-main-title{
        font-family: sans-serif;
        color: whitesmoke;
        font-weight: bolder;
    }
    .top-bar{
        background: rgb(13 85 167);
    }

   .menuBar {
       background-color: rgb(13 85 167);
       color: white;
       font-weight: bold;
       font-size: 15px ;
   }
   #footer-location-button{
       color: gold;
   }
   footer{
       height: 100px;
       background: rgb(13 85 167);
       color: white;
       padding: 10px;
       position:fixed;
        Width: 100%;
        bottom: 0;
   }
   
   #top-navbar{
       background: rgb(13 85 167);     
   }
   #music-lesson-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #piano-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #guitar-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #live-sound-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #drum-percussion-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #keyboard-button:hover{
    color: yellow;
    cursor: pointer;  
   }
   #footer-location-button{
       font-size: large;
       font-weight: bold;
   }
  
/* logo of the website */
.store-main-title {
    margin-left: 5%;
}

.header-text {
    margin-left: 2%;
    color: aliceblue;
    font-weight: 900;
    font-size: 38px;
}

.menuBar:hover {
    color:yellow;
}

/* footer copyright */
.copyright {
    text-align: center;
}
#main-display{
    margin-bottom: 100px;
    margin-top: 5px;
    
}
#piano-1, #piano-2, #piano-3{
    padding: 10px;
    background: rgb(255, 255, 255)  
}
#category-display{
    margin-top: 50px;
    margin-bottom: 100px;
}
#piano-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 85px;
    cursor: pointer;   
}
#piano-2-button{
    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 145px;
    cursor: pointer;   
}
#piano-3-button{
    background: rgb(13 85 167);
    margin-left: 9rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#guitar-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 5rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#guitar-2-button{
    background: rgb(13 85 167);
    margin-left: 10rem; 
    border-radius: 8px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 205px;
    cursor: pointer;   
}
#guitar-3-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 30px;
    cursor: pointer;   
}
#keyboard-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 20px;
    cursor: pointer;   
}
#keyboard-2-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 20px;
    cursor: pointer;   
}
#keyboard-3-button{
    background: rgb(13 85 167);
    margin-left: 11rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#drum-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 8rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 140px;
    cursor: pointer;   
}
#drum-2-button{
    background: rgb(13 85 167);
    margin-left: 9rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 110px;
    cursor: pointer;   
}
#drum-3-button{
    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#sound-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 8rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#sound-2-button{
    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 20px;
    cursor: pointer;   
}
#sound-3-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#lesson-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 0px;
    cursor: pointer;   
}
#lesson-2-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 110px;
    cursor: pointer;   
}
#lesson-3-button{
    background: rgb(13 85 167);
    margin-left: 6rem; 
    border-radius: 10px;
    font-size:x-large;
    padding: 10px;
    color: honeydew;
    font-weight: bold;
    border: solid;
    margin-top: 90px;
    cursor: pointer;   
}

#piano-information{
    color: rgb(0, 0, 0);
}
#item-name{
    font-weight: bold;
}
.title {
    text-align: center;
    font-size: 2rem;
}
#button {   
    background: rgb(13 85 167);
    color: honeydew;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    border: solid;
    align-content: center;
    margin-left: 11rem; 
}

#piano-1.cell.large-4, #piano-2.cell.large-4, #piano-3.cell.large-4   {
    margin-top: 2rem;
    border-radius: 1rem;
}

#login-title, #signup-title{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 25px;   
}
#login-page {
    background: rgb(13 85 167);
    margin-top: 40px;
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
}

#email-heading, #password-heading, #name-heading, #username-heading {
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
#email-login, #password-login, #name-signup, #email-signup, #user_id-signup, #password-signup{
    padding: 5px;
    border-radius: 5px;
}

#login-btn, #signup-btn{
    padding: 5px;
    padding-left: 25px ;
    padding-right: 25px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
}

#signup-page {
    background: rgb(13 85 167);
    margin-top: 10px;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-bottom: 120px;
}

#product-description, #category-description, #user-description{
    padding: 50px;
    font-family: sans-serif;
    color: rgb(9, 9, 121);
    
}

#picture-list{
    margin-top: 150px;
}
#sku-id, #product-name-id, #price-id, #stock-id, #category-list-id{
    font-weight: bold;
}
#information-btn{
    border-radius: 20px;
    border: solid rgb(2, 2, 87) 5px;
    padding: 10px;
    background: rgb(255, 255, 255)  
}
#category-header{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#category_id, #user-id{
    margin-top: 150px;
    font-weight: bold;
}

#category-name-id{
    font-family: sans-serif;
    font-weight: bold;
}

#home-main-pic{
    margin-bottom: 0px;
}

#advice-button{
    display: inline-block;
    width: 100%;
    background: rgb(13 85 167);
    font-family: cursive;
    font-weight: bold;
    font-size: 28px;
    padding-top: 25px;
    padding-bottom: 25px; 
    color: gold; 
}
#advice-button-right{
    display: inline-block;
    width: 100%;
    background: rgb(13 85 167);
    font-family:cursive;
    font-weight: bold;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: gold; 
}