:root {
    --primary-blue: rgb(13 85 167);
    --background-text: rgb(9, 9, 121); ;
    --button-hover: rgb(255, 255, 0);
    --text-white: rgb(255, 255, 255);
    --gold-text: rgb(255, 215, 0);
    --black: rgb(0, 0, 0);
}



body{
    background: var(--text-white);
    }
    .main-container{
       display: flex;
    }
    .right-column-container{
        margin-right: 0rem;
    }
    #piano-button, #guitar-button, #live-sound-button, #drum-percussion-button, #keyboard-button, #music-lesson-button{
    display: inline-block;
    width: 100%;
    background: rgb(13 85 167);
    font-family: sans-serif;
    font-weight: bold;

    font-size: 1rem;

    }
    #music-lesson-picture, #keyboard-picture{
        height: 24rem;
    }
    .store-main-title{
        font-family: sans-serif;
        color: var(--text-white);
        font-weight: bolder;
    }

    /* nav styling */

.header-text {
    margin-left: 3%;
    color: var(--text-white);
    font-weight: 900;

}   

.menuBar:hover {
    color: var(--button-hover);

}

    .top-bar{
        background: var(--primary-blue);
    }

   .menuBar {
       background-color: var(--primary-blue);
       color: var(--text-white);
       font-weight: bold;

       font-size: 15px ;
   }
 

   #footer-location-button{
       color: var(--gold-text);
   }
   footer{
       height: 6.25rem;
       background: var(--primary-blue);
       color: var(--text-white);
       padding: .62rem;
       position: fixed;
        Width: 100%;
        bottom: 0;
   }
   
   #top-navbar{
       background: var(--primary-blue);    
   }
   #music-lesson-button:hover{
    color: var(--button-hover);
    cursor: pointer;  
   }
   #piano-button:hover{
    color:  var(--button-hover);
    cursor: pointer;  
   }
   #guitar-button:hover{
    color:  var(--button-hover);
    cursor: pointer;  
   }
   #live-sound-button:hover{
    color:  var(--button-hover);
    cursor: pointer;  
   }
   #drum-percussion-button:hover{
    color:   var(--button-hover);
    cursor: pointer;  
   }
   #keyboard-button:hover{
    color: var(--button-hover);
    cursor: pointer;  
   }
   #footer-location-button{
       font-size: large;
       font-weight: bold;
   }
  
/* logo of the website */
.store-main-title {
    margin-left: 5%;
}

<<<<<<< HEAD
.header-text {
    margin-left: 2%;
    color: aliceblue;
    font-weight: 900;
    font-size: 38px;
}

.menuBar:hover {
    color:yellow;
}
/* footer copyright */
.copyright {
    text-align: center;
}
#main-display{
    margin-bottom: 6.25rem;
    margin-top: .33rem;
    
}
#piano-1, #piano-2, #piano-3{
    padding: 2 2 2 0rem;
    background: var(--text-white); 
}
#category-display{
    margin-top: 3rem;
    margin-bottom: 6.25rem;
}

#piano-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;
}
#piano-1-button, #piano-2-button, #piano-3-button{ 
    background: var(--primary-blue);   
    margin-left: 9rem; 
    border-radius: 2rem;

    font-size:x-large;
    padding: 1rem;
    color: var(--text-white);;
    font-weight: bold;
    border: solid;

    margin-top: 85px;
    cursor: pointer;   
}
#piano-2-button{
    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;

    margin-top: 6.25rem;
    cursor: pointer;   
}
#piano-2-button {
    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: 2rem;

    font-size:x-large;
    padding: 1rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 145px;

    margin-top: 13.75rem;

    cursor: pointer;   
}
#piano-3-button{
    background: var(--primary-blue);
    margin-left: 9rem; 
    border-radius: 61rem;
    font-size:x-large;
    padding:1rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#guitar-1-button{ 

    background: rgb(13 85 167);    
    margin-left: 5rem; 
    border-radius: 10px;

    background: var(--primary-blue);  
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#guitar-2-button{

    background: rgb(13 85 167);
    margin-left: 10rem; 
    border-radius: 8px;

    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 205px;
    cursor: pointer;   
}
#guitar-3-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;

    margin-top: 19rem;
    cursor: pointer;   
}
#guitar-3-button{
    background: var(--primary-blue);
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 30px;
    cursor: pointer;   
}
#keyboard-1-button{ 
    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;

    margin-top: 3.125rem;
    cursor: pointer;   
}
#keyboard-1-button{ 
    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 1.33rem;
    cursor: pointer;   
}
#keyboard-2-button{

    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;

    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 1.33rem;
    cursor: pointer;   
}
#keyboard-3-button{

    background: rgb(13 85 167);
    margin-left: 11rem; 
    border-radius: 10px;

    background: var(--primary-blue);
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#drum-1-button{ 

    background: rgb(13 85 167);    
    margin-left: 8rem; 
    border-radius: 10px;

    background: var(--primary-blue);    
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 140px;
    cursor: pointer;   
}
#drum-2-button{
    background: rgb(13 85 167);
    margin-left: 9rem; 
    border-radius: 10px;

    margin-top: 10.62rem;
    cursor: pointer;   
}
#drum-2-button{
    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 110px;
    cursor: pointer;   
}
#drum-3-button{
    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;

    margin-top: 8.125rem;
    cursor: pointer;   
}
#drum-3-button{
    background: var(--primary-blue);
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#sound-1-button{ 

    background: rgb(13 85 167);    
    margin-left: 8rem; 
    border-radius: 10px;

    background: var(--primary-blue);  
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#sound-2-button{

    background: rgb(13 85 167);
    margin-left: 8rem; 
    border-radius: 10px;

    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;

    margin-top: 20px;
    cursor: pointer;   
}
#sound-3-button{
    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;

    margin-top: 2rem;
    cursor: pointer;   
}
#sound-3-button{
    background: var(--primary-blue);
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#lesson-1-button{ 

    background: rgb(13 85 167);    
    margin-left: 7rem; 
    border-radius: 10px;

    background: var(--primary-blue);   
    margin-left: 9rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 0rem;
    cursor: pointer;   
}
#lesson-2-button{

    background: rgb(13 85 167);
    margin-left: 7rem; 
    border-radius: 10px;

    background: var(--primary-blue);
    margin-left: 15rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 110px;
    cursor: pointer;   
}
#lesson-3-button{

    background: rgb(13 85 167);
    margin-left: 6rem; 
    border-radius: 10px;

    background: var(--primary-blue);
    margin-left: 12rem; 
    border-radius: .66rem;

    font-size:x-large;
    padding: .66rem;
    color: var(--text-white);
    font-weight: bold;
    border: solid;
    margin-top: 90px;
    cursor: pointer;   
}

#piano-information{
    color: var(--black);
}
#item-name{
    font-weight: bold;
}
.title {
    text-align: center;
    font-size: 2rem;
}
#button {   
    background: var(--primary-blue);
    color: var(--text-white);
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    border: solid;
    align-content: center;
    margin-left: 11rem; 
}

#piano-1.cell.large-4, #piano-2.cell.large-4, #piano-3.cell.large-4   {
    margin-top: 2rem;
    border-radius: 1rem;
}

#login-title, #signup-title{
    font-family: sans-serif;

    color: white;
    font-weight: bold;
    font-size: 25px;   
}
#login-page {
    background: rgb(13 85 167);
    margin-top: 40px;
    padding:10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;

    color: var(--text-white);
    font-weight: bold;   
}
#login-page {
    background: var(--primary-blue);
    margin-top: 5rem;
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;

}

#email-heading, #password-heading, #name-heading, #username-heading {
    font-family: sans-serif;
    color: var(--text-white);
    font-weight: bold;
}
#email-login, #password-login, #name-signup, #email-signup, #user_id-signup, #password-signup{
    padding: .33rem;
    border-radius: .33rem;
}

#login-btn, #signup-btn{

    padding: 5px;
    padding-left: 25px ;
    padding-right: 25px;
    border-radius: 8px;

    padding: .33rem;
    padding-left: 2rem ;
    padding-right: 2rem;
    border-radius: .5rem;

    font-family: sans-serif;
    font-weight: bolder;
    color: var(--text-white);
    margin-top: 1.25rem;
    padding-top: .75rem;
}

#signup-page {
    background: rgb(13 85 167);

    margin-top: 10px;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-bottom: 120px;

    margin-top: 3rem;
    padding: 2rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    border-radius: 3rem;

}

#product-description, #category-description, #user-description{
    padding: 3rem;
    font-family: sans-serif;
    color: var(--background-text);
    
}

#picture-list{
    margin-top: 150px;
}
#sku-id, #product-name-id, #price-id, #stock-id, #category-list-id{
    font-weight: bold;
}
#information-btn{
    border-radius: 1rem;
    border: solid var(--background-text) .3rem;
    padding: .5rem;
    background: var(--text-white);
}
#category-header{
    font-family: sans-serif;

    font-size: 30px;

    font-size: 2rem;

    font-weight: bold;
}
#category_id, #user-id{
    margin-top: 9.375rem;
    font-weight: bold;
}

#category-name-id{
    font-family: sans-serif;
    font-weight: bold;
}

#home-main-pic{
    margin-bottom: 0rem;
}

#advice-button{
    display: inline-block;
    width: 100%;
    background: var(--primary-blue);
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
    color: var(--gold-text); 
}

#advice-button-right{
    display: inline-block;
    width: 100%;
    background: var(--primary-blue);
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: var(--gold-text); 
}